<!-- account summary card, changes displayed fields based on user account type -->
<!-- edit / message buttons conditional on which page the card is being loaded in to -->
<!-- initiate user account type -->

<div class="col-md-12 account-card" >
    <div class="card mb-3">
        <div class="card-body">

            <!-- name is seperate to avoid being collapsed on connections page -->
            <div class="row align-items-center">
                <div class="col-sm-3 text-secondary">
                    <h5 class="mb-0"><%= propertyLabels['name'] %></h5>
                </div>
                <div class="col">
                    <!-- add `account-name` class to enable filtering by name -->
                    <h5 class="mb-0 account-name"><%= account['name'] %></h5>
                </div>

                <!-- edit button for my account page only -->
                <% if (currentPage == 'account') { %>
                    <div class="col text-right">
                        <a class="btn btn-info mr-2" href="/accountEdit" id="edit">Edit</a>
                    </div>
                <% } %>

                <!-- buttons for connections page only -->
                <% if (currentPage == 'connections') { %>
                    <div class="col text-right">
                        <!-- Collapse toggle button -->
                        <button class="btn btn-outline-primary toggle-button" type="button" data-toggle="collapse" data-target="#collapse<%= account.username %>" aria-expanded="false" aria-controls="collapse<%= account.username %>">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                        </button>
                    </div>
                <% } %>
            
            </div>

            <!-- rows that gain collapseable property for use on connections page -->
            <% if (currentPage == 'connections') { %>
            <div class="collapse" id="collapse<%= account.username %>">
            <% } %>
            <hr>
                <% Object.keys(account).forEach(function(property)  { %>
                    <% if((account[property] !== null) && propertyLabels[property] && property != 'name') { %>
                        <div class="row">
                            <div class="col-sm-3 text-secondary">
                                <h6 class="mb-0"><%= propertyLabels[property] %></h6>
                            </div>
                            <!-- dynamically add `account-X` class to enable future filtering -->
                            <div class="col">
                                <h6 class="mb-0 account-<%= property %>"><%= account[property] %></h6>
                            </div>
                        </div>
                        <hr>
                    <% } %>
                <% }); %>

            <!-- add message button and close div for connections page -->
            <% if (currentPage == 'connections') { %>
                <div class="row">

                    <!-- add administration buttons only access to 'super' users, i.e. admin accounts -->
                    <% if (accountType == 'super') { %>
                        <div class="col mt-2 mb-2 text-left">
                            <!-- password reset button -->
                            <button class="btn btn-primary password-reset-button" data-username="<%= account.username %>" data-email="<%= account.email %>">Reset Password</button>
                        </div>

                        <!-- add deletion and promotion buttons only if account is not another admin -->
                        <% if (account.accountType != 'super') { %>

                            <div class="col text-left mt-2 mb-2">
                                <!-- promote account button -->
                                <button class="btn btn-success promote-account-button" data-userID="<%= account.userID %>">Promote to Admin</button>
                            </div>  

                            <div class="col text-left mt-2 mb-2">
                                <!-- delete account button -->
                                <button class="btn btn-danger delete-account-button" data-userID="<%= account.userID %>">Delete account</button>
                            </div>  

                        <% } %>
                    <% } %>

                    <div class="col mt-2 mb-2 text-right">
                        <!-- message button -->
                        <a class="btn btn-info" href="/messages?sendTo=<%= account.username %>">Message</a>
                    </div>
                </div>
            </div>
            <% } %>

        </div>
    </div>
</div>