<header>
    <!-- Bootstrap navbar class used as template here -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <span class="navbar-brand">GuardianLink</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav flex-grow-1">

            <!-- 'activePage' variable passed in routes highlights current page on navbar -->
            <li class="nav-item <%= currentPage === 'home' ? 'active' : '' %>">
              <a class="nav-link" href="/">Home</a>
            </li>

            <!-- Check whether a user is logged in or not based on res.locals.isAuthenticated from app.js -->
            <% if (isAuthenticated) { %>
              <!-- Elements to show when user is logged in -->
              <li class="nav-item <%= currentPage === 'connections' ? 'active' : '' %>">
                <a class="nav-link" href="/connections">Connections</a>
              </li>

              <li class="nav-item <%= currentPage === 'messages' ? 'active' : '' %>">
                <a class="nav-link" href="/messages">Messages</a>
              </li>

              <!-- right-aligned links: -->
              <li class="nav-item ml-auto">
                <!-- empty list item used only as a spacer to push remaining items right -->
                <!-- this method improves the nav bar display on mobile -->
              </li>

              <li class="nav-item <%= currentPage === 'account' ? 'active' : '' %>">
                <a class="nav-link" href="/account">My Account</a>
              </li>

              <!-- admin-only account creation page -->
              <% if (accountType == 'super') { %>
                <li class="nav-item <%= currentPage === 'accountCreation' ? 'active' : '' %>">
                  <a class="nav-link" href="/accountCreation">Account Creation</a>
                </li>
              <% } %>

              <li class="nav-item">
                <button type="button" class="btn btn-primary" id="logout">Logout</button>
              </li>
              
            <% } else { %>
              <!-- Elements to show when user is not logged in -->
              <!-- right-aligned links: -->
              <li class="nav-item ml-auto">
                <!-- empty list item used only as a spacer to push remaining items right -->
                <!-- this method improves the nav bar display on mobile -->
              </li>

              <li class="nav-item" <%= currentPage === 'login' ? 'active' : '' %>>
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item" <%= currentPage === 'register' ? 'active' : '' %>>
                <a class="nav-link" href="/register">Registration</a>
              </li>
            <% } %>
            
          </ul>
          
        </div>
      </nav>
</header>