<!-- Messages page to view and send messages -->

<!-- add first part of layout template -->
<%- include('../layouts/layoutFirst.ejs') %>

<!-- load existing users from res render -->
<script>
    var existingUsers = <%- JSON.stringify(existingUsers) %>;
    // note the existingConversation object is formatted: [{ userID, name, username, messages[] }]
    var existingConvs = <%- JSON.stringify(existingConversations) %>;
</script>

<!-- page body -->
<h1>My Messages</h1>
<br>

<!-- html to display messages here -->

<div class="container">
    <% if (existingConversations.length != 0) { %>
    <!-- Conversation details -->
    <div class="row align-items-stretch">

        <div class="col-sm-3 d-flex">
            <div class="card flex-grow-1">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Conversations</span>
                    <button class="btn btn-sm btn-outline-info" type="button" data-toggle="collapse" data-target="#conversationsCollapse">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                    </button>
                </div>
                <div class="card-body scrollable-conversations collapse show" id="conversationsCollapse">

                    <div class="list-group" id="list-tab" role="tablist">
                        <% existingConversations.forEach(function(conversation, index) { %>
                            <a class="list-group-item list-group-item-action <%= index === 0 ? 'active' : '' %>" id="list-<%= conversation.userID %>-list" data-toggle="list" href="#list-<%= conversation.userID %>" role="tab" aria-controls="<%= conversation.userID %>"><%= conversation.name %></a>
                        <% }) %>
                    </div>

                </div>
            </div>
        </div>

        <div class="col d-flex">
            <div class="card flex-grow-1">
                <div class="card-header" id="conversation-header"></div>
                <div class="card-body scrollable-messages">

                    <div class="tab-content" id="nav-tabContent">
                        <% existingConversations.forEach(function(conversation, index) { %>
                            
                            <div class="tab-pane fade <%= index === 0 ? 'show active' : '' %>" id="list-<%= conversation.userID %>" role="tabpanel" aria-labelledby="list-<%= conversation.userID %>-list">

                            <!-- format reminder, each conversation is: -->
                            <!-- { userID, name, username, messages[] } -->
                            <!-- with each item of messages an entire row from the db -->
                            <!-- {id, senderID, receiverID, time, message} -->
                            <% conversation.messages.forEach(function(message) { %>
                                <div class="row">
                                    <div class="col-sm-2 names">
                                        <p><strong><%= message.senderID === user.userID ? 'You' : conversation.name %>:</strong></p>
                                    </div>

                                    <div class="col message">
                                        <p><%= message.message %></p>
                                    </div>

                                    <div class="col-sm-4 text-right">
                                        <p><small><%= new Date(message.time+'Z').toLocaleString() %></small></p>
                                    </div>
                                    
                                </div>

                            <% }) %>

                            </div>
                        <% }) %>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <br>
    <% } %>    

    <div class="row align-items-center">
        <!-- if no conversations exist, only a new message option is displayed -->
        <div class="col">
            <div class="card">
                <form id="sendMessage">
                    <div class="card-header">
                        <div class="row align-items-center">

                            <div class="col form-group no-margin">
                                Send a message to:
                            </div>

                            <div class="col form-group no-margin">
                                <!-- select from existing usernames -->
                                <input type="text" class="form-control" id="destinationUser" placeholder="Start typing" autocomplete="off" list="usernames" required>
                                <datalist id="usernames">
                                    <!-- autofilled by js script -->
                                </datalist>
                            </div>

                            <div class="col form-group text-right no-margin">
                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </div>

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <textarea class="form-control" id="messageText" rows="3" placeholder="Type a message..." required></textarea>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>

<script>

</script>

<script src="/js/messages.js"></script>

<!-- add last part of layout template -->
<%- include('../layouts/layoutLast.ejs') %>